@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');
html,body{
    background-color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
span{
    text-decoration: none;
}
a{
    text-decoration: none;

}
@media screen and (min-width: 800px) {
    #body-cont{
    
        height:70vh;
    }
    #footer{
    /* margin-top: 10%; */
    height: 20vh;


  }
  .menu-text-box{
   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
  .menu-text{
    color: #34495e;
    font-size: 1.3em;
    font-family: 'Archivo Narrow', sans-serif;
}
    #buttons{
        width: 75vw;
        height: 25vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    #header{
        width: 100%;
        /* height: 15vh; */
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: #34495e;
        border-bottom: #34495e 1px solid;
    
    }
  
    
.circle-small{
    display: grid;
    justify-items: center;
    align-items: center;
    width:80%;
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: #bdb7bd 1px solid;
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.67);
    

    grid-template-rows: 4fr 1fr;
    background-color: white;
    cursor: pointer;
}
.circle-big{
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;
    height:100%;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.67);

    background-color: white;   grid-template-rows: 4fr 1fr;
    cursor: pointer;
    border: #bdb7bd 1px solid;

}
.header-title-text{
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    color: white;
    /* font-weight: bold; */
  
}
.header-subtitle-text{
    font-family: 'Archivo Narrow', sans-serif;
    color:  white;
    font-size: 1em;
}
  }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    #body-cont{
    
        height:80vh;
    }
    #footer{
    height: 20vh;

   }
   .menu-text-box{
   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
   .menu-text{
    color: #34495e;
    font-size: 1.1em;
    font-family: 'Archivo Narrow', sans-serif;
}
    #buttons{
        width: 90vw;
        height: 30vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    #header{
        width: 100%;
        /* height: 15vh; */
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: #34495e;
        border-bottom: #34495e 1px solid;
    
    }
    
    
.circle-small{
    display: grid;
    justify-items: center;
    align-items: center;
    width:80%;
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.67);
    background-color: white;   grid-template-rows: 4fr 1fr;
    cursor: pointer;border: #bdb7bd 1px solid;
}
.circle-big{
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;
    height:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.67);
    
    grid-template-rows: 4fr 1fr;
    background-color: white;
    cursor: pointer;
    border: #bdb7bd 1px solid;

}
.header-title-text{
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    color: #fff;
    /* font-weight: bold; */
  
}
.header-subtitle-text{
    font-family: 'Archivo Narrow', sans-serif;
    color:  white;
    font-size: 1em;
    
}
  }


  @media screen and (max-width: 600px) {
    #body-cont{
    
        height:80vh;
    }
    #footer{
    flex-direction: column;

   }
   .menu-text{
    color: #34495e;
    font-size: 1em;
    font-family: 'Archivo Narrow', sans-serif;
}
    .menu-text{
        color: #34495e;
    font-size: 1em;
    }
    
    #buttons{
        width: 80vw;
        height: 90%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    #header{
        width: 100%;
        /* height: 12vh; */
        display: grid;
        justify-items: center;
        /* align-items: center; */
        background-color: #34495e;
        border-bottom: #34495e 1px solid;
    
    }
  
    .menu-text-box{
   
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
    }
.circle-small{
    display: grid;
    justify-items: center;
    align-items: center;
    width:60%;
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    border: #bdb7bd 1px solid;
    grid-template-rows: 4fr 1fr;
    background-color: white;
    cursor: pointer;box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.67);
}
.circle-big{
    display: grid;
    justify-items: center;
    align-items: center;
    width:80%;
    height:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #bdb7bd 1px solid;
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.67);
    grid-template-rows: 4fr 1fr;
    background-color: white;
    cursor: pointer;

}
.header-title-text{
    font-family: 'Anton', sans-serif;
    font-size: 1.7em;
    color: #fff;
    /* font-weight: bold; */
  
}
.header-subtitle-text{
    font-family: 'Archivo Narrow', sans-serif;
    color:  white;
    font-size: 1em;
    
}
  }



#header-title{
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.header-main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
.header-subtitle{ 
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
} 
.title-cont{
    justify-items: center;
    align-items: center;
    text-align: left;
}

#body-cont{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;

}




.circle-big:hover{
    /* background-color: #f1eef1; */
    box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.73);
}
.circle-small:hover{
    /* background-color: #f1eef1; */
    box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.73);
}
.circle-cont{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}



.sponsors-text{
    font-family: 'Anton', sans-serif;
    font-size: 1.7em;
    color: white;
    /* font-weight: bold; */
  
}

.sponsors-text-big{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.2em;
    color: white;
    /* font-weight: bold; */
  
}

#footer{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: #34495e 1px solid;
    cursor: pointer;
    background-color: #34495e;
}

.menu-text-box{
    border-top: #bdb7bd 1px solid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
 

}
