
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 700px) {
    .call-link{
        color:white;
         width:60%;
    }
#card-button{
    margin-right: 10%;
    min-width: 10vw;
    height: 5vh;
}
#select-button{
    margin-right: 10%;
    min-width: 5vw;
    height: 5vh;
}
#selected-button{
    margin-right: 10%;
    min-width: 5vw;
    height: 5vh;
}
}
@media screen and (max-width: 700px) {
    .call-link{
        color:white;
         width:60%;
    }
    #card-button{
        margin-right: 10%;
        min-width: 25vw;
        height: 5vh;
    }
    #select-button{
        margin-right: 10%;
        min-width: 10vw;
        height: 5vh;
    }
    #selected-button{
        margin-right: 10%;
        min-width: 10vw;
        height: 5vh;
    }
    }
    

@media screen and (min-width: 1000px) {
   
    .call-link{
        color:white;
         width:60%;
    }
     #card{
       
        width: 60vw;
        min-height: 60vh;
    }
    #card-disclaimer{
       
        width: 60vw;
        min-height: 60vh;
    }
    .question-text{
        width: 95%;
        font-size: 2em;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .question-text-contact{
        font-size: 1.7em;
        font-family: 'Nanum Gothic', sans-serif;
    }
}
 
 

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .call-link{
        color:white;
         width:60%;
    }
    #card{
       
        width: 70vw;
        min-height: 60vh;
    }
    #card-disclaimer{
       
        width: 70vw;
        min-height: 60vh;
    }
    .question-text{
        font-size: 2em;
        font-family: 'Nanum Gothic', sans-serif;
        width: 95%;

    }
    .question-text-contact{
        font-size: 1.7em;
        font-family: 'Nanum Gothic', sans-serif;
    }
}
 
 
 
@media screen and (min-width: 600px) and (max-width: 800px) {
    .call-link{
        color:white;
         width:90%;
    }
    #card{
       
        width: 80vw;
        min-height: 60vh;
    }
    #card-disclaimer{
       
        width: 80vw;
        min-height: 60vh;
    }
    .question-text{
        font-size: 1.7em;
        width: 95%;

        font-family: 'Nanum Gothic', sans-serif;
    }
    .question-text-contact{
        font-size: 1.7em;
        font-family: 'Nanum Gothic', sans-serif;
    }
}
 
@media screen and (min-width: 500px) and (max-width: 600px) {
    .call-link{
        color:white;
         width:90%;
    }
    #card{
       
        width: 80vw;
        min-height: 70vh;
    }
    #card-disclaimer{
       
        width: 80vw;
        min-height: 70vh;
    }
    .question-text{
        font-size: 1.7em;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .question-text-contact{
        font-size: 1.3em;
        font-family: 'Nanum Gothic', sans-serif;
    }
}
 
@media screen and (max-width: 500px) {
    .call-link{
        color:white;
         width:90%;
    }
    #card{
       
        width: 95vw;
        min-height: 70vh;
    }
    #card-disclaimer{
       
        width: 95vw;
        min-height: 70vh;
    }
    .question-text{
        font-size: 1.3em;
        width: 95%;

        font-family: 'Nanum Gothic', sans-serif;
    }
    .question-text-contact{
        font-size: 1em;
        font-family: 'Nanum Gothic', sans-serif;
    }
}
 
 
#card{
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 3fr 10vh;
    justify-items: center;
align-items: center;
border: #bdb7bd 1px solid;
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}
#card-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#question-box{
width: 100%;
height: 100%;
text-align: center;
display: grid;
justify-items: center;
align-items: center;
}

#card-button-cont{
    display: grid;
    justify-items: right;
align-items: center;
width: 100%;
border-top: #218c74 0.5px solid;
height: 10vh;

}
#card-button{
  
    border: 1px solid #218c74;
    color: #218c74;
    border-radius: 3px;
    display: grid;
    justify-items: center;
align-items: center;
cursor: pointer;
}
#card-button:hover{
   background-color: #218c74;
   color: white;
}

#symptoms-box{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}
#select-button{
    
    border: 1px solid #218c74;
    color: #218c74;
    border-radius: 3px;
    display: grid;
    justify-items: center;
align-items: center;
cursor: pointer;
}

#selected-button{
    
    background-color: #218c74;
    
    color: white;
    border-radius: 3px;
    display: grid;
    justify-items: center;
align-items: center;
cursor: pointer;
}
#select-button:hover{
    background-color: #218c74;
    color: white;
}
.symptom-row{
    display: flex;
    align-items: center;
    
}
#travel-box{
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 20vh;
}
#travel-destinations{
    width: 80%;
   
}
#card-body-travel{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 2fr;
}
#contact-options{
    display: flex;
    flex-direction: column;
    width: 90%;
}
#card-body-contact{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

#card-body-info{
    width: 90%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.info-text{
    width: 100%;
}
.volver{
    color: #218c74;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.volver:hover{
    color: white;
}

.disclaimer-text{
    width: 100%;
    display: block;
    /* text-align: center; */
}
#card-body-disclaimer{
    width: 90%;
    height: 100%;
    /* display: grid; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /* overflow-x:hidden; */
}
.disclaimer-text-container{
    text-align: center;
}
#card{
    margin-top: 5%;

    margin-bottom: 5%;
}
#card-disclaimer{
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 4fr ;
    justify-items: center;
align-items: center;
border: #bdb7bd 1px solid;
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
margin-top: 5%;
margin-bottom: 5%;

}

.call{
    width: 100%;
    height: 5vh;
    background-color: #218c74;
    border-radius: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.call-cont{
   display: flex;
    flex-direction: column;
     display: grid;
     justify-items: center;
}
.number-text{
    font-weight: bold;
    font-size: 1.2em;
    color: #218c74;
    width: 100%;
    text-align: center;
}

